

*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{

}

.mainTopBar{
	height: 80px;
	background-color: #1E1E19;
}
.logo_mtb{
	width: 22%;
	padding:20px 40px;
	font-size: 30px;
	float: left;
}

.logo_mtb >a {
  color: #FFFFFF;
  font-weight: bolder;
}

.categoryHome{
	background-color: skyblue;
	margin-left: 30%;
}



.categoryHome ul li{
	list-style: none;
	float: left;
	padding: 10px 20px;
	margin-top: 20px;
	border: 1px solid white;
	margin-left: 30px;
}

.categoryHome ul li:hover {
	background-color: #6B6B47;
}

.categoryHome ul li a{
	font-size: 20px;
	font-weight: bolder;
	color: #5CB8E6;
	padding: 5px;

}
.categoryHome ul li a:hover{

	color: white;
}
.sliderImage>img{
	width:100%;
	height: 580px;
	position: relative;
}
.techJoinBox { 
	background: rgba(255,255,255,0.3);
	width: 60%;
	height: 100px;
   position: absolute; 
   top: 200px; 
  margin-left: 40%;
  margin-top: 15%; 
}


.techJoinBox>p{
	font-size: 24px;
	font-weight: bold;
	color:#000066;
	padding-top: 2%;
	padding-left: 2%;
}

#joinBtn{
	margin-left: 35%;
	margin-top: 1%;
	background-color: #527ACC;
	width: 25%;
	height: 40%;
	font-size: 30px;
	color: white;

}

#joinBtn:hover {
	background-color: #000066;
} 


.midSection { 
	background-color: green;
	padding: 5px;
	height: 400px;


}

.leftSide{
	float: left;
	width: 60%;
}



.rightSide{
	
	background-color: skyblue;
	width: 40%;
	margin-left: 60%;
	height: 200px;
}

.quz{
	background-color: skyblue;
}

.hel {
	background-color: green;
	margin-top: 10px;
}




.footer{
	background-color:#1E1E19 ;
	width: 100%;
	height: 150px;

}

.fmenu{
	background-color: white;
	width: 20%;
	margin-left: 100px;
}